body {
    background-image: url('Hex.jpg');
    margin: 0px;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#brave-field {
    margin-bottom: 20px;
    padding: 5px;
}

#private-field {
    margin-bottom: 20px;
    padding: 5px;
}

.container input[type=text] {
    width: 450px;
    height: 25px;
    background-color: rgba(22, 22, 22);
    color: #f2f2f2;
    font-family: "Ubuntu Bold";
    font-size: 16px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #310053;
    text-align: center;   
}

.container input[type=text]:focus {
    outline: none;
}

.container input[type=text]:focus::placeholder {
    color: transparent;
}

.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    width: 65%;
    margin: 1em 0em;
    border-radius: 4px;
    border-color: rgb(255, 0, 0);
}

.bookmark-set{
    padding: 1em;
    background-color: rgba(22, 22, 22);
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #310053;
    font-family: "Ubuntu Bold";
    font-size: 16px;
    width: 25%;
    height: 16em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    overflow-y: hidden;
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-family: "Impact";
    font-size: 22px;
    color: #880088;
}
.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .4em 0em;
}
.bookmark:hover {
    color: #660066;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}
